.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  .label-navbar {
   margin-top: 5px;
   margin-left: 10px;
   font-size: xx-large;
   text-align: left;
  }
  .page-content {
    margin-top: 50px;
    display: flex;
  }

}

input {
  width: 200px;
  height: 30px;
  font-size: medium;
}

button {
  max-width: 100px;
  margin-right: 5px;
  position: relative;
}