label {
  text-align: center;
  font-weight: 700;
}
svg {
  width: 20px;
  height: 20px;
}
.snacks-container{
  display: flex;
  flex-direction: column;
  .create {
    text-align: end;
  }
  .no-data-label {
    text-align: center;
    color: black;
    height: 50px;
    width: 200px;
  }
  .snack-item {
    margin-bottom: 10px;
  }
  .card-text {
    text-align: left;
    word-wrap: break-word;
  }
}